body {
  background-color: teal;
}
p {
  color: black;
  text-shadow: white 0.1em 0.1em 0.2em;
}
h1, h2, h3, h4, h5, h6 {
  color: black;
  text-shadow: white 0.1em 0.1em 0.2em;
  text-align: center;
}
